

  {% include "../View/header.html" %}


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title"> Table with course </h4>

                            </div>
                            <div class="content table-responsive table-full-width">
                                <form action="/addCourse" method="post" id="myform" enctype="multipart/form-data">



                                         <div class='row'>

                                        <div class='col-md-6'>
                                            <div class='form-group'>
                                                <label>course title</label>
                                                <input type='text' class='form-control'  id='title' name='courseName' >
                                            </div>
                                        </div>
                                         </div>
                                             <div class='row'>
                                        <div class='col-md-6'>
                                            <div class='form-group'>
                                                <label for='chapterNumber'>chapterNumber</label>
                                                <input  type="number" min="1" max="100" value="1" name="chapterNumber" id="chapterNumber"/>



                                            </div>
                                        </div>
                                             </div>
                                                 <div class='row'>

                                          <div class='col-md-6'>
                                            <div class='form-group'>
                                                <label for="add"></label>

                                        <input type="submit" name="submit" value="Add" id="add" style="margin-left:50px;width:150px;color:blue;"/>
                                            </div>
                                        </div>
                                         </div>

                                        </form>
                                          </div>








                            </div>
                        </div>
                    </div>
            </div>
        </div>
<script>
    jQuery(document).ready(function($) {
    $("#myform").submit(function(e){
    <!--alert("form send");-->
    var letters = /^[A-Za-z]+$/;
     var courseName = document.getElementById("title").value;
     <!--alert(courseName);-->
     if(courseName.match(letters))
     {
      return true;
      $(this).unbind('submit').submit()
     }
      else
      {
        alert("course name not valid");
        e.preventDefault();
      }


    });
    });
</script>




  {% include "../View/footer.html" %}


